<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914591150072-elc87tqkhbuc1akng1h9avun17m809a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914591150072-elc87tqkhbuc1akng1h9avun17m809a0</string>
	<key>API_KEY</key>
	<string>AIzaSyBVxiQXYNmn2FRVb5fxrz-IwlnSJ_ewS5A</string>
	<key>GCM_SENDER_ID</key>
	<string>914591150072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.inthecode.fbloginapp</string>
	<key>PROJECT_ID</key>
	<string>facebook-login-app-7b7a1</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-login-app-7b7a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914591150072:ios:28cd288d5660daf414f00d</string>
</dict>
</plist>